.main {
    height: '100vh';
    position: 'relative'
}

.fixed-bottom {
    position: fixed;
    bottom: 10px;
}

.mdl-textfield {
    width: 100%;
}

.mdl-list__item-secondary-content {
    width: 96px;
    text-align: center;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff');
}
